.filter-select {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1rem;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-select:hover {
  background-color: #333;
}

.filter-select option {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.search-button {
  background-color: #008000; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #006400; /* Darker Green */
}